@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;

  height: 56px;
}

@media (min-width: 768px) {
  .logo-small {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo-big {
    display: none;
  }
}

.search {
  border: 1px solid #616161;
  padding-inline: 8px;
  border-radius: 8px;
  width: 480px;

  height: 32px;
  background-color: #303030;
  display: flex;
  align-items: center;
  gap: 6px;

  transition: all 200ms ease-in;
}

.search:hover {
  border: 1px solid #e1e1e1;
}

.search:active,
.search:focus {
  border: 2px solid #fff;
}

.search-input {
  border: none;
  background-color: transparent;
  flex-grow: 1;
  outline: none;
  color: #fff;
  width: 100%;

  &::placeholder {
    font-size: 12px;
    font-weight: 500;
    line-height: 130%;
    color: #e3e3e3;
  }
}

.vendor {
  display: flex;
  align-items: center;
  gap: 8px;

  .notification-bell[aria-expanded="true"] + .notif-content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-inline: 15px;
  }

  .notification-bell {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    outline: none;
    background-color: #303030;
    border: none;

    transition: all 200ms ease-in;
  }

  .notification-bell:hover,
  .dropbtn:hover {
    background-color: #616161;
  }

  .notification-bell:active,
  .notification-bell:focus,
  .dropbtn:active,
  .dropbtn:focus {
    background-color: #656266;
  }

  .notification-bell:focus,
  .dropbtn:focus {
    outline: 2px solid #005bd3;
    outline-offset: 1px;
  }

  .notif-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    right: 15;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    font-size: 13px;

    & > div {
      background-color: #f1f1f1;
      margin-bottom: 10px;
      margin-top: 0;
      padding-inline: 10px;
      border-radius: 6px;
    }
  }
}

.dropbtn {
  background-color: #303030;
  border-radius: 8px;
  height: 32px;

  color: white;
  padding: 2px 2px 2px 8px;
  font-size: 12px;
  border: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 2px 2px 2px 8px;

  transition: all 200ms ease-in;
}

.dropbtn span:last-of-type {
  border-radius: 6px;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

@media (max-width: 768px) {
  .dropbtn {
    padding-left: 0;
  }

  .dropbtn span:first-of-type {
    display: none;
  }

  .search {
    max-width: 200px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  right: 15;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;

  .divider {
    border-top: 1px solid #e1e1e1;
    margin-block: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  padding: 0px 12px 0px 8px;
  background: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 10px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header div p {
  font-weight: 500;
  font-size: 13px;
}

.header div p:first-of-type {
  border-radius: 5.25px;
  width: 28px;
  height: 28px;

  background: #36fba1;
  color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10.5px;
}

.dropdown-content ul {
  list-style: none;
  padding-left: 0;
  margin-block: 0;
}

.dropdown-content ul li a:hover {
  background: #f1f1f1;
}

.dropdown-content ul li a:active {
  background: #f0f0f0;
}

.dropdown-content ul li a:focus {
  border: 2px solid #005bd3;
}

.dropdown-content ul li a p:first-of-type {
  margin-block: 0;
  padding-block: 0;
}

.dropdown-content ul li a p:last-of-type {
  font-size: 12px;
  margin-block: 0;
  padding-block: 0;
  color: #616161;
  font-weight: 400;
}

.dropdown-content ul li a {
  color: #303030;
  padding: 6px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  border-radius: 8px;

  .stores {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropbtn[aria-expanded="true"] + .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 5px;
}

article {
  width: 70vw;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 30em) {
  article {
    width: 100vw;
  }
}

.plans {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  min-height: 50px;
}

@media (min-width: 768px) {
  .plans {
    border-radius: 8px;
  }

  .accordion-wrapper {
    border-radius: 8px;
  }

  .plans div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
  }
}

@media (max-width: 760px) {
  .plans div:first-of-type .btn-plan {
    margin-bottom: 10px;
  }
}

.plans div:first-of-type p {
  color: #e3e3e3;
  font-size: 13px;
}

.plans div:first-of-type .btn-plan {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.plans .plan-img {
  width: 30px;
  vertical-align: middle;
  filter: invert();

  cursor: pointer;
}

.plans[aria-hidden="true"] {
  display: none;
}

.accordion-wrapper {
  right: 15;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 1;
}

.accordion-wrapper .accordion-header .accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-wrapper .accordion-header .accordion-head[aria-expanded="true"] img {
  rotate: 180deg;
}

.accordion-wrapper .accordion-header .accordion-head p {
  font-weight: 600;
}

.accordion-wrapper .accordion-header .head-others {
  margin-bottom: 10px;
}

.accordion-wrapper .accordion-header .head-others p {
  color: #303030;
  margin-top: 0;
  font-size: 13px;
}

.accordion-wrapper .accordion-header .head-others div p {
  font-size: 13px;
  margin-bottom: 0;
}

.accordion-wrapper .accordion-header .head-others div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.accordion-wrapper .accordion-header .head-others div .progressContainer {
  width: 150px;
  background-color: #e3e3e3;
  height: 6px;
  border-radius: 8px;
}

.progressContainer #progressBar {
  border-radius: 8px 0px 0px 8px;
  width: 0%;
  height: 6px;
  background-color: #4caf50;
  text-align: center;
  line-height: 32px;
}

.accordion-container {
  display: none;
}

.accordion-container[aria-hidden="false"] {
  display: block;
}

.accordion-wrapper .accordion-container .accordion {
  padding: 20px 0px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  border-radius: 8px;

  .head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .head button {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .head p {
    font-size: 14px;
  }

  .head button img {
    width: 30px;
    vertical-align: middle;
    filter: invert();
  }

  .body {
    display: none;
  }

  .body[aria-hidden="false"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body .left {
    margin-left: 35px;
  }

  .left p {
    font-size: 12px;

    &:has(a) a {
      font-size: 14px;
      text-decoration: none;
    }
  }

  .left button {
    cursor: pointer;
    background-color: #303030;
    color: #f6f3f6;
    padding: 7px;
    border-radius: 8px;
  }

  .left button:last-of-type {
    background-color: transparent;
    outline: none;
    color: black;
    border: none;
  }

  @media (max-width: 768px) {
    .right {
      display: none;
    }
  }
}
