@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  height: 56px;
}

.search {
  border: 1px solid #616161;
  padding: 5px;
  padding-inline: 15px;
  border-radius: 8px;
  width: 40vw;
  background-color: #303030;
  display: flex;
  gap: 5px;
}

.search-icon {
  background-color: transparent;
  /* color: #fff !important; */
  width: 20px;
  vertical-align: middle;
  filter: invert();

  svg {
    color: #fff;
    fill: #fff;
  }
}

.search-input {
  border: none;
  background-color: transparent;
  flex-grow: 1;
  outline: none;
  color: #fff;

  &::placeholder {
    color: #fff;
  }
}

.vendor {
  display: flex;
  align-items: center;
  gap: 10px;

  .notification:hover .notif-content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-inline: 15px;
  }
  .notification-bell {
    width: 40px;
    height: 35px;
    vertical-align: middle;
    filter: invert();
    box-shadow: #303030 0px 0px 0.1em, rgba(90, 125, 188, 0.05) 0px 0.25em 0.5em;
    border-radius: 8px;
  }

  .notif-content {
    display: none;
    position: absolute;
    right: 15;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    font-size: 13px;

    & > div {
      background-color: #f1f1f1;
      margin-bottom: 10px;
      margin-top: 0;
      padding-inline: 10px;
      border-radius: 6px;
    }
  }

  .vendor-name {
    color: #fff;
  }
}

.dropbtn {
  background-color: #303030;
  border-radius: 8px;

  color: white;
  padding: 10px;
  padding-right: 0;
  font-size: 16px;
  border: none;

  & > span {
    border-radius: 6px;
    background: #36fba1;
    color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-right: 0;
  }
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 15;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;

  & > ul {
    list-style: none;
    padding-left: 0;
  }

  .divider {
    border-top: 1px solid #e1e1e1;
    margin-block: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    & > div {
      display: flex;
      align-items: center;
      gap: 8px;

      & > p:first-of-type {
        border-radius: 6px;

        background: #36fba1;
        color: rgba(0, 0, 0, 0.4);

        padding: 10px;
        font-size: 16px;
        border: none;
      }
    }

    & > img {
      width: 30px;
      vertical-align: middle;
      filter: invert();
    }
  }
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding-block: 10px;
  padding-inline: 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;

  & > p:first-of-type {
    margin-block: 0;
    padding-block: 0;
  }

  & > p:last-of-type {
    font-size: 10px;
    margin-block: 0;
    padding-block: 0;
  }

  .stores {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-block: 0;
    padding-block: 0;

    & > p {
      margin-block: 0;
      padding-block: 0;
    }

    & > img {
      width: 30px;
      vertical-align: middle;
      filter: invert();
      margin-block: 0;
      padding-block: 0;
    }
  }
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border: 2px solid var(--states-focused, #005bd3);
  border-radius: 8px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 5px;
}

article {
  width: 70vw;
  margin: 0 auto;
  padding-inline: 200px !important;
  margin-top: 50px;
}

.plans {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding-inline: 20px;
  height: 76px;

  & > p {
    color: #e3e3e3;
    font-size: 13px;
  }

  .btn-plan {
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
  }

  .plan-img {
    width: 30px;
    vertical-align: middle;
    filter: invert();

    cursor: pointer;
  }
}

.accordion-wrapper {
  right: 15;
  margin-top: 20px;
  padding: 5px 20px;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 1;
  border-radius: 8px;
}

.accordion-wrapper .accordion-header .accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-wrapper
  .accordion-header
  .accordion-head[aria-expanded="true"]
  img {
  rotate: 180deg;
}

.accordion-wrapper .accordion-header .head-others {
  & > p {
    color: #303030;
    margin-top: 0;
    font-size: 13px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 20px;

    & > p {
      font-size: 12px;
    }

    & > .progressContainer {
      width: 150px;
      background-color: #e3e3e3;
      height: 6px;
      border-radius: 8px;
    }
  }
}

.progressContainer .progressBar {
  border-radius: 8px 0px 0px 8px;
  width: 40%;
  height: 6px;
  background-color: #4caf50;
  text-align: center;
  line-height: 32px;
}

.accordion-container {
  display: none;
}

.accordion-container[aria-hidden="false"] {
  display: block;
}

.accordion-wrapper .accordion-container .accordion {
  padding: 20px 0px;
  margin-bottom: 10px;
  background-color: #f3f3f3;
  border-radius: 8px;

  .head button {
    display: flex;
    align-items: center;
    gap: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .head button img {
    width: 30px;
    vertical-align: middle;
    filter: invert();
  }

  .body {
    display: none;
  }

  .body[aria-hidden="false"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .body .left {
    margin-left: 35px;
  }

  .left p {
    font-size: 12px;

    &:has(a) a {
      font-size: 14px;
      text-decoration: none;
    }
  }

  .left button {
    cursor: pointer;
    background-color: #303030;
    color: #f6f3f6;
    padding: 7px;
    border-radius: 8px;
  }
}
